<div id="fh5co-header">
	<header id="fh5co-header-section">
		<div class="container">
			<div class="nav-header">
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<h1 id="fh5co-logo">
					<a href="{{ site.url }}">
						<img src="{{ "/assets/img/logo.png" | relative_url }}" height="50px">
						&ensp;Atul<span>Shah</span>
					</a>
				</h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">
					<ul class="sf-menu" id="fh5co-primary-menu">
						{%- assign nodes = site.pages | where: "parent", "none" | sort: "order" -%}
						{%- for node in nodes -%}
						{%- assign sname = node.title | slugify -%}
						{%- assign children = site.pages | where: "parent", sname -%}
						{% if node.title %}
						<li {% if node.url == page.url %}class="active"{% endif %}>
							{%- if children.size > 0 -%}
							<a class="fh5c0-sub-ddown" href="{{ node.url | relative_url }}">{{ node.title }}</a>
							<ul class="fh5co-sub-menu">
								{%- for child in children -%}
								<li {% if child.url == page.url %}class="active"{% endif %}>
									<a href="{{ child.url }}">{{ child.title }}</a>
								</li>
								{% endfor %}
							</ul>
							{%- else -%}
							<a href="{{ node.url | relative_url }}">{{ node.title }}</a>
							{% endif %}
						</li>
						{%- endif -%}
						{% endfor %}
						<li><a href="#specialties">Specialties</a></li>
						<li><a href="#appointment">Appointment</a></li>
						<li><a href="#footer">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>
<!-- end:fh5co-header -->